# Dependencies
node_modules/
frontend/node_modules/
backend/voice_env/
voice_env/

# Python cache & logs
__pycache__/
*.pyc
*.log
*.onnx
*.bin

# Temp & audio builds
frontend/dist/
backend/uploads/
backend/processed/
*.wav
*.mp3

# IDE / OS files
.DS_Store
Thumbs.db
.vscode/
.idea/
